* {
    font-family: 'Poppins';
    font-weight: 500;
  }

  @supports (font-variation-settings: "wght" 200) {
  
  }
body{
    background-image: url(/Coding_chal/MaterialeEsercizioLim/background.jpg);
    background-size: cover;
    width: 75%;
    margin: auto;
}

/* Testata */
#corpo{
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 15px;
    padding: 70px 100px 120px 100px;
    margin: 20px;
}

.testata{
    text-align: center;
}

.testata h1{
    color: limegreen;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    
}

#img{
    width: 200px; height: auto;
}

/* Navigatore */
.navig{
    text-align: center;
    background-color: limegreen;
    padding: 8px 0px 5px 0px;
}

/* Corpo */
h2{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding-top: 20px;
}

p{
font-family: 'Poppins', sans-serif;
font-weight: 200;
    color: white;
    font-size: 12px;
    margin: 0px;
}

#car1{
    color: orange;
    background-color: orange;
    border-radius: 5px;
    width: 350px;
    height: 25px;

}

#car2{
    color: greenyellow;
    background-color: greenyellow;
    border-radius: 5px;
    width: 600px;
    height: 25px;
}

#car3{
    color: rgb(143, 16, 16);
    background-color: rgb(143, 16, 16);
    border-radius: 5px;
    width: 150px;
    height: 25px;
}